<form class="form-horizontal" name="fmRegister" id="fmRegister" action="{{ mlpath('_member_info_edit') }}" method="post" {{ form_enctype(form) }}>
  {{ form_errors(form) }}
  <fieldset>
    <legend>{% trans %}Change information{% endtrans %}</legend>
    <div class="control-group">
      <label class="control-label" for="member_fullName">{% trans %}FullName{% endtrans %}</label>
      <div class="controls">
        {{ form_widget(form.fullName, {'attr': {'class':'input-xlarge'}}) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="member_birthDate">{% trans %}BirthDate{% endtrans %}</label>
      <div class="controls">
        {{ form_widget(form.birthDay, {'attr': {'class':'span1'}}) }}
        {{ form_widget(form.birthMonth, {'attr': {'class':'span1'}}) }}
        {{ form_widget(form.birthYear, {'attr': {'class':''}}) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="member_gender">{% trans %}Gender{% endtrans %}</label>
      <div class="controls">
        {{ form_widget(form.gender, {'attr': {'class':'span2'}}) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="member_address">{% trans %}Address{% endtrans %}</label>
      <div class="controls">
        {{ form_widget(form.address, {'attr': {'class':'input-xlarge'}}) }}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a class="btn" target="_blank" href="http://gravatar.com/emails">{% trans %}Change avatar{% endtrans %}</a>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">{% trans %}Save{% endtrans %}</button>
      </div>
    </div>
  </fieldset>
  {{ form_rest(form) }}
</form>
