<ul class="post-cmt">
  {% for comment in comments %}
  <li>
    <div class="avatar"><a href="{{ mlpath('_member_public_show', {'id': comment.member.id, 'name': comment.member.fullNameSlug }) }}"><img class="img-small" src="{{ comment.member.getGravatar(32) }}" alt="{{ comment.member.fullName }}" /></a></div>
    <div class="comment-body">
      <a href="{{ mlpath('_member_public_show', {'id': comment.member.id, 'name': comment.member.fullNameSlug }) }}">{{ comment.member.fullName }}</a>
      {{ comment.content }}
      {% set timeAgo = comment.postedAt|timeAgo %}
      <p class="muted"><small>{{ timeAgo.difference }} {{ timeAgo.period|trans }} {% trans %}ago{% endtrans %}</small></p>
    </div>
  </li>
  {% endfor %}
</ul>
