{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block navigator %}
  {% include 'ITVietSiteBundle:Layout:navigator.html.twig' with {'active':'none'} %}
{% endblock %}

{% block maincontents %}
<div class="clearfix">
{% render 'ITVietSiteBundle:Layout:leftSideBar' with {'standalone': true, 'active': article.category.id} %}
  <div class="main-wall">
    Wall for article information...
  </div>
  <div class="main-content">
    <h1 class="post-title">{{ article.title }}</h1>
    <div class="meta-box">
      {% set timeAgo = article.postedAt|timeAgo %}
      <span class="label"><i class="icon-calendar icon-white"></i> {{ timeAgo.difference }} {{ timeAgo.period|trans }} {% trans %}ago{% endtrans %}</span>
      <span class="label"><i class="icon-pencil icon-white"></i> {{ article.countComment }} {% trans %}comment{% endtrans %}</span>
      <span class="label"><i class="icon-eye-open icon-white"></i> 3 luot xem</span>
    </div>{#end meta box#}
    <div class="post-content">
    {{ article.content|raw }}
    </div>
    <hr />
    <ul class="post-cmt">
      {% for comment in comments %}
      <li>
        <div class="avatar"><a href="{{ mlpath('_member_public_show', {'id': article.member.id, 'name': article.member.fullNameSlug }) }}"><img class="img-small" src="{{ article.member.getGravatar(32) }}" alt="{{ article.member.fullName }}" /></a></div>
        <div class="comment-body">
          <a href="{{ mlpath('_member_public_show', {'id': article.member.id, 'name': article.member.fullNameSlug }) }}">{{ article.member.fullName }}</a>
          {{ comment.content }}
          {% set timeAgo = comment.postedAt|timeAgo %}
          <p class="muted"><small>{{ timeAgo.difference }} {{ timeAgo.period|trans }} {% trans %}ago{% endtrans %}</small></p>
        </div>
      </li>
      {% endfor %}
    </ul>

{% if isMember %}
{% set member = app.security.getToken().getUser() %}
<img class="img-small" src="{{ member.getGravatar(32) }}" alt="Ava" />
<textarea class="post-wall" name=""></textarea>
{% else %}
<p class="muted">
  <small>
    {% trans with {'%href%': mlpath('_member_to_login')} %}You have to <a href="%href%">login</a> to post comment{% endtrans %}
  </small>
</p>
{% endif %}

  </div>
</div>
{% endblock %}
