{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block navigator %}
  {% include 'ITVietSiteBundle:Layout:navigator.html.twig' with {'active':'none'} %}
{% endblock %}

{% block maincontents %}
<script>
<!--
function checkForm() {
  var strAlert = "";
  strAlert = strAlert + VKCheckRequireField(document.getElementById("txtCmt"), "{% trans %}Please enter your comment{% endtrans %}!\n");

  if(strAlert != "") {
    alert(strAlert);
    return false;
  } else {
    return true;
  }
}

function postReply(e, id) {
  //document.getElementById('txt-hidden-' + id).value += String.fromCharCode(e.which);
  if (e.keyCode == 13) {
    if (e.shiftKey === true) {
      //document.getElementById('txt-hidden-' + id).value += '<br>';
    } else {
      $('#loading_animation').show();
      document.getElementById('txt-' + id).readOnly = true;
      document.forms['frmReply-' + id].submit();
    }
  }
}
{#
function postComment(e) {
  if (e.keyCode == 8) {
    for (var i = 0 ; i < document.getElementById('txt-hidden-comment').value.length; i++) {
      if ()
    }
    document.getElementById('txt-hidden-comment').value = document.getElementById('txt-hidden-comment').value.substring(0, document.getElementById('txt-hidden-comment').value.length - 1);
  } else {
  document.getElementById('txt-hidden-comment').value += String.fromCharCode(e.which);
}

  if (e.keyCode == 13) {
      document.getElementById('txt-hidden-comment').value += '<br>';
  }
}
#}
-->
</script>


<div class="clearfix">
{% render 'ITVietSiteBundle:Layout:leftSideBar' with {'standalone': true, 'active': article.category.id} %}
  <div class="main-wall">
    Wall for article information...
  </div>
  <div class="main-content">
    <h1 class="post-title">{{ article.title }}</h1>
    <div class="meta-box">
      {% set timeAgo = article.postedAt|timeAgo %}
      <span class="label"><i class="icon-calendar icon-white"></i> {{ timeAgo.difference }} {{ timeAgo.period|trans }} {% trans %}ago{% endtrans %}</span>
      <span class="label"><i class="icon-pencil icon-white"></i> {{ article.countComment }} {% trans %}Comment{% endtrans %}</span>
      <span class="label"><i class="icon-eye-open icon-white"></i> {{ article.viewInfo.count }} {% trans %}View{% endtrans %}</span>
    </div>{#end meta box#}
    <div class="post-content">
    {{ article.content|raw }}
    </div>
    <hr />
    {% include 'ITVietSiteBundle:Comment:list.html.twig' %}
    <img id="loading_animation" class="post-reply" src="{{ asset('images/icon/ajax-loader.gif') }}" alt="processing..." />
    {% include 'ITVietSiteBundle:Comment:new.html.twig' %}
  </div>
</div>
{% endblock %}
