{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block navigator %}
  {% include 'ITVietSiteBundle:Layout:navigator.html.twig' with {'active':'none'} %}
{% endblock %}

{% block maincontents %}
<div class="clearfix">
{% render 'ITVietSiteBundle:Layout:leftSideBar' with {'standalone': true, 'active': article.category.id} %}
  <div class="main-wall">
    Wall for article information...
  </div>
  <div class="main-content">
    <h1 class="post-title">{{ article.title }}</h1>
    <div class="meta-box">
      {% set timeAgo = article.postedAt|timeAgo %}
      <span class="label"><i class="icon-calendar icon-white"></i> {{ timeAgo.difference }} {{ timeAgo.period|trans }} {% trans %}ago{% endtrans %}</span>
      <span class="label"><i class="icon-pencil icon-white"></i> {{ article.countComment }} {% trans %}comment{% endtrans %}</span>
      <span class="label"><i class="icon-eye-open icon-white"></i> 3 luot xem</span>
    </div>{#end meta box#}
    <div class="post-content">
    {{ article.content|raw }}
    </div>
    <ul class="post-cmt">
      {% for comment in comments %}
      <li>{{ comment.content }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
