{% set ckeditor = true %}
{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block navigator %}
  {% include 'ITVietSiteBundle:Layout:navigator.html.twig' with {'active':'profile'} %}
{% endblock %}

{% block title %}{% trans %}Post New Article{% endtrans %}{% endblock %}

{% form_theme form _self %}
{% block field_errors %}
  {% if errors %}
  <div class="alert alert-error">
    {% for error in errors %}
    <p>{{ error.messageTemplate | trans(error.messageParameters, 'validators') }}</p>
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}

{% block maincontents %}
<script>
<!--
function checkForm() {
  var strAlert = "";
  strAlert = strAlert + VKCheckRequireField(document.getElementById("member_title"), "{% trans %}Please enter your title{% endtrans %}!\n");

  if(strAlert != "") {
    alert(strAlert);
    return false;
  } else {
    return true;
  }
}
-->
</script>


<form class="form-horizontal" name="fmRegister" id="fmRegister" action="{{ mlpath('_article_new') }}" method="post" {{ form_enctype(form) }}>
  {{ form_errors(form) }}
  <fieldset>
    <legend>{% trans %}Post New Article{% endtrans %}</legend>
    <div class="control-group">
      <label class="control-label" for="member_category">{% trans %}Category{% endtrans %}</label>
      <div class="controls">
        {{ form_widget(form.category, {'attr': {'class':'input-xlarge'}}) }}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="member_title">{% trans %}Title{% endtrans %}</label>
      <div class="controls">
        {{ form_widget(form.title, {'attr': {'class':'input-xxlarge'}}) }}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="member_isActive">{% trans %}Active{% endtrans %}</label>
      <div class="controls">
        {{ form_widget(form.isActive, {'attr': {'class':'input-small'}}) }}
      </div>
    </div>

    <div class="control-group">
      {{ form_widget(form.content, {'attr': {'class':'ckeditor', 'cols': '80', 'rows': '10', 'name': 'content'}}) }}
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit" onclick="return checkForm();">{% trans %}Post{% endtrans %}</button>
      </div>
    </div>

  </fieldset>
  {{ form_rest(form) }}
</form>
{% endblock %}
