{% set ckeditor = true %}
{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block navigator %}
  {% include 'ITVietSiteBundle:Layout:navigator.html.twig' with {'active':'profile'} %}
{% endblock %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block maincontents %}


  {% include 'ITVietSiteBundle:Member:publicInfo.html.twig' with {'member': member} %}

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">{% trans %}My Articles{% endtrans %}</a></li>
  <li><a href="#profile" data-toggle="tab">{% trans %}Profile manager{% endtrans %}</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Manager Account{% endtrans %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">{% trans %}Change information{% endtrans %}</a></li>
      <li><a href="#dropdown2" data-toggle="tab">{% trans %}Change email{% endtrans %}</a></li>
      <li><a href="#dropdown3" data-toggle="tab">{% trans %}Change password{% endtrans %}</a></li>
    </ul>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="home">

<form class="form-horizontal" name="frmForm" id="frmForm" action="#" method="post">
  <fieldset>
    <legend>{% trans %}My Articles{% endtrans %}</legend>
    <table class="table table-hover">
      <thead class="tb-confident">
        <tr>
          <th><i class="icon-pencil icon-white"></i> {% trans %}Edit{% endtrans %}</th>
          <th>{% trans %}Title{% endtrans %}</th>
          <th>{% trans %}Posted At{% endtrans %}</th>
          <th>{% trans %}Category{% endtrans %}</th>
          <th>{% trans %}Active{% endtrans %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
          <td><a href="{{ mlpath('_article_edit', {'id': article.id}) }}">
            <i class="icon-pencil"></i> {% trans %}Edit{% endtrans %}
            </a></td>
          <td>
            <a class="title" href="{{ mlpath('_article_show',
            {'id': article.id, 'category': article.category.urlPart, 'urlPart': article.urlPart }) }}">
              {{ article.title }}
            </a>
          </td>
          <td>{{ article.postedAt | date("d-m-Y") }}</td>
          <td>{{ article.category.name }}</td>
          <td>{% set active = article.isActive ? 'Yes' : 'No' %}{{ active|trans }}</td>
          <td><input name='ckSelect[]' type='checkbox' value='{{ article.id }}'></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-primary" href="{{ mlpath('_article_new') }}">{% trans %}Post New Article{% endtrans %}</a>
    <button class="btn" type="submit">{% trans %}Delete Article{% endtrans %}</button>
  </fieldset>
</form>

  </div>
  <div class="tab-pane fade" id="profile">
    {% include 'ITVietSiteBundle:Member\\Config:editProfile.html.twig' %}
  </div>
  <div class="tab-pane fade" id="dropdown1">
    {% render 'ITVietSiteBundle:Member\\Config:editInfo' with {'standalone': true} %}
  </div>
  <div class="tab-pane fade" id="dropdown2">
    {% include 'ITVietSiteBundle:Member\\Config:editEmail.html.twig' %}
  </div>
  <div class="tab-pane fade" id="dropdown3">
    {% include 'ITVietSiteBundle:Member\\Config:editPassword.html.twig' %}
  </div>

</div>{# end tab-content #}
{% endblock %}
